<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lihao.composedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo">
        <activity
            android:name=".guesture.MainActivityFreeDrag"
            android:exported="false"
            android:label="@string/title_activity_main_free_drag"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".custom_theme.MainActivityTheme"
            android:exported="false"
            android:label="@string/title_activity_main_theme"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.ScaffoldActivity"
            android:exported="false"
            android:label="@string/title_activity_scaffold"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".intro.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".layout.MainActivityLayout"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".state.MainActivityState"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" />
        <activity
            android:name=".state.recovery.StateRecoveryListSaverActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".locals.MainActivityLocal"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".guesture.MainActivityGesture"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo" />
        <activity
            android:name=".sideeffects.MainActivityEffect"
            android:exported="true"
            android:theme="@style/Theme.ComposeDemo" />
    </application>

</manifest>